@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600;700&display=swap');
body {
  margin: 0;
  font-family: 'Exo 2', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #18181b;
  color: #ef4444;
}

code {
  font-family:  Consolas, Monaco, source-code-pro, Menlo, 'Courier New',
    monospace;
}
.shadow-sides {
  box-shadow: 5px 0 5px -5px rgba(239, 68, 68, 0.5), -5px 0 5px -5px rgba(239, 68, 68, 0.5);
}